# build inputs and outputs of convert_wiki_to_static_html.py
wiki/
wikis/
_out/
_external_images/
template/docs/
template/index.md
template/assets/img/
template/_site/
template/.jekyll-cache/
template/.bundle/
template/vendor/
__pycache__/
*.log
indexnow-payload.json
response.txt
